<div class="panel panel-primary">
  <div class="panel-heading" role="tab" id="headingTwo_1">
    <h4 class="panel-title">
      <strong class="fa fa-mouse-pointer collapsed" role="button">
        Cliquez ici pour séléctionner les critéres de séléction et d'affichage
      </strong>
      <i ng-show="!fermer" ng-click="collapsed();" class="fa fa-plus pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#collapseTwo_1" aria-expanded="false"
         aria-controls="collapseTwo_1"></i>
      <i ng-show="fermer" ng-click="collapsed();" class="fa fa-minus pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#collapseTwo_1" aria-expanded="false"
         aria-controls="collapseTwo_1"></i>
    </h4>
  </div>
  <div id="collapseTwo_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
    <div class="panel-body">
      <!-- Tabs With Icon Title -->
      <div class="box-body ">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href data-target="#home_with_icon_title" data-toggle="tab">
                      <i class="material-icons">mouse</i> Critére de séléction
                    </a>
                  </li>
                  <li role="presentation">
                    <a href data-target="#profile_with_icon_title" data-toggle="tab">
                      <i class="material-icons">visibility</i> critére d'affichage
                    </a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane animated fade in active" id="home_with_icon_title">
                  <!-- Premiere ligne -->
                    <div class="row">
                      <br>
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_1">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c1" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Comptes
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c1" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.etatcompte" type="checkbox" checked><span class="lever"></span>Tous les comptes</label></div> 
                            </div>
                            <div ng-repeat="compte in etatcomptes" ng-show="!stat.etatcompte" class="row">
                               <div class="switch"><label><input ng-model="statReq.etatcomptes[compte]" type="checkbox" checked><span class="lever"></span>{{compte}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_2">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c2" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Genres
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c2" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.sexe" type="checkbox" checked><span class="lever"></span>Tous les genres</label></div> 
                            </div>
                            <div ng-repeat="genre in sexes" ng-show="!stat.sexe" class="row">
                               <div class="switch"><label><input ng-model="statReq.sexes[genre]" type="checkbox" checked><span class="lever"></span>{{genre}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_3">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c3" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Dossiers
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c3" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.etape" type="checkbox" checked><span class="lever"></span>Tous les dossiers</label></div> 
                            </div>
                            <div ng-repeat="dossier in etapes" ng-show="!stat.etape" class="row">
                               <div class="switch"><label><input ng-model="statReq.etapes[dossier]" type="checkbox" checked><span class="lever"></span>{{dossier}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Deuxieme ligne -->
                    <div class="row">
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_1">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c4" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Demandes
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c4" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.etatdemande" type="checkbox" checked><span class="lever"></span>Tous les demandes</label></div> 
                            </div>
                            <div class="row">
                               <div ng-repeat="demande in etatdemandes" ng-show="!stat.etatdemande" class="switch"><label><input ng-model="statReq.etatdemandes[demande]" type="checkbox" checked><span class="lever"></span>{{demande}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_2">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c5" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              UFRs
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c5" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.ufr" type="checkbox" checked><span class="lever"></span>Tous les UFRs</label></div> 
                            </div>
                            <div ng-show="!stat.ufr" ng-repeat="ufr in ufrs" class="row">
                               <div class="switch"><label><input ng-model="statReq.ufrs[ufr.nom]" type="checkbox" checked><span class="lever"></span>{{ufr.nom}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_3">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c6" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Departements
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c6" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.departement" type="checkbox" checked><span class="lever"></span>Tous les departements</label></div> 
                            </div>
                            <div ng-show="!stat.departement" ng-repeat="departement in departements" class="row">
                               <div class="switch"><label><input ng-model="statReq.departements[departement.nom]" type="checkbox" checked><span class="lever"></span>{{departement.nom}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Troisieme ligne -->
                    <div class="row">
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_1">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c7" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Filieres
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c7" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.filiere" type="checkbox" checked><span class="lever"></span>Toutes les filieres</label></div> 
                            </div>
                            <div ng-show="!stat.filiere" ng-repeat="filiere in filieres" class="row">
                               <div class="switch"><label><input ng-model="statReq.filieres[filiere.nom]" type="checkbox" checked><span class="lever"></span>{{filiere.nom}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_2">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c8" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Unités d'enseignement
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c8" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.unitens" type="checkbox" checked><span class="lever"></span>Toutes les unités d'enseignements</label></div> 
                            </div>
                            <div ng-show="!stat.uniten" ng-repeat="uniten in unitens" class="row">
                               <div class="switch"><label><input ng-model="statReq.unitens[uniten.nom]" type="checkbox" checked><span class="lever"></span>{{uniten.nom}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_3">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c9" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Programmes
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c9" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.programme" type="checkbox" checked><span class="lever"></span>Tous les programmes</label></div> 
                            </div>
                            <div ng-show="!stat.programme" ng-repeat="programme in programmes" class="row">
                               <div class="switch"><label><input ng-model="statReq.programmes[programme.nom]" type="checkbox" checked><span class="lever"></span>{{programme.nom}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Quatrieme ligne -->
                    <div class="row">
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_1">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c10" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Matieres
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c10" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.matiere" type="checkbox" checked><span class="lever"></span>Tous les matiéres</label></div> 
                            </div>
                            <div ng-show="!stat.matiere" ng-repeat="matiere in matieres" class="row">
                               <div class="switch"><label><input ng-model="statReq.matieres[matiere.nom]" type="checkbox" checked><span class="lever"></span>{{matiere.nom}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_2">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c11" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Niveaux d'etude
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c11" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input  ng-model="stat.niveauetude" type="checkbox" checked><span class="lever"></span><strong>Tous les niveaux</strong></label></div> 
                            </div>
                            <div ng-show="!stat.niveauetude" ng-repeat="niveau in niveauetudes" class="row">
                               <div class="switch"><label><input ng-model="statReq.niveauetudes[niveau]" type="checkbox" checked><span class="lever"></span><strong>{{niveau}}</strong></label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_3">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c12" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Disciplines
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c12" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.discipline" type="checkbox" checked><span class="lever"></span><strong>Tous les disciplines</strong></label></div> 
                            </div>
                            <div ng-show="!stat.discipline" class="row">
                               <div ng-repeat="discipline in disciplines" class="switch"><label><input ng-model="statReq.disciplines[discipline]" type="checkbox" checked><span class="lever"></span><strong>{{discipline}}</strong></label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Cinquieme ligne -->
                    <div class="row">
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_1">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c13" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Specialités
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c13" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.specialite" type="checkbox" checked><span class="lever"></span>Tous les spécialités</label></div> 
                            </div>
                            <div ng-show="!stat.specialite" ng-repeat="specialite in specialites" class="row">
                               <div class="switch"><label><input ng-model="statReq.specialites[specialite]" type="checkbox" checked><span class="lever"></span>{{specialite}}</label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_2">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c14" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Nationalités
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c14" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.nationalite" type="checkbox" checked><span class="lever"></span><strong>Toutes les nationalités</strong></label></div> 
                            </div>
                            <div ng-show="!stat.nationalite" ng-repeat="country in nationalites" class="row">
                               <div class="switch"><label><input ng-model="statReq.nationalites[country]" type="checkbox" checked><span class="lever"></span><strong>{{country}}</strong></label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_3">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c15" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Residences
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c15" residencearia-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input ng-model="stat.indicatif" type="checkbox" checked><span class="lever"></span>Toutes les residences</label></div> 
                            </div>
                            <div ng-show="!stat.indicatif" class="row">
                               <div ng-repeat="residence in indicatifs" class="switch"><label><input ng-model="statReq.indicatifs[residence.nom]" type="checkbox" checked><span class="lever"></span><strong>{{residence.name}}</strong></label></div> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade animated" id="profile_with_icon_title">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.nom" type="checkbox" checked><span class="lever"></span>Nom</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.prenom" type="checkbox" checked><span class="lever"></span>Prenom</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.Adresse" type="checkbox" checked><span class="lever"></span>Adresse</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.indicatif" type="checkbox" checked><span class="lever"></span>Indicatif</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.telephone" type="checkbox" checked><span class="lever"></span>Téléphone</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.telephonesecondaire" type="checkbox" checked><span class="lever"></span>Téléphone secondaire</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.email" type="checkbox" checked><span class="lever"></span>Email</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.emailsecondaire" type="checkbox" checked><span class="lever"></span>Email secondaire</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.datedenaissance" type="checkbox" checked><span class="lever"></span>Date de naissance</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.lieudenaissance" type="checkbox" checked><span class="lever"></span>Lieu de naissance</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.compte" type="checkbox" checked><span class="lever"></span>Etat compte</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.niveau" type="checkbox" checked><span class="lever"></span>Niveau Etude</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.discipline" type="checkbox" checked><span class="lever"></span>Discipline</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.specialite" type="checkbox" checked><span class="lever"></span>Spécialité</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.etape" type="checkbox" checked><span class="lever"></span>Etape</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.appellation" type="checkbox" checked><span class="lever"></span>Appellation</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.type" type="checkbox" checked><span class="lever"></span>Type</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.identifiantphoto" type="checkbox" checked><span class="lever"></span>Identifiant photo</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.nationalite" type="checkbox" checked><span class="lever"></span>Nationalité</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.genre" type="checkbox" checked><span class="lever"></span>Genre</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.dossiers" type="checkbox" checked><span class="lever"></span>Etat dossiers</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.demande" type="checkbox" checked><span class="lever"></span>Etat Demande</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.ufr" type="checkbox" checked><span class="lever"></span>Ufr</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.departement" type="checkbox" checked><span class="lever"></span>Département</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.filiere" type="checkbox" checked><span class="lever"></span>Filiere</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.uniten" type="checkbox" checked><span class="lever"></span>Unité d'enseignement</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.programme" type="checkbox" checked><span class="lever"></span>Programme</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.matiere" type="checkbox" checked><span class="lever"></span>Matiére</label></div> 
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.paysdenassance" type="checkbox" checked><span class="lever"></span>Pays de naissance</label></div> 
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                           <div class="switch"><label><input ng-model="critere.residence" type="checkbox" checked><span class="lever"></span>Residence</label></div> 
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Tabs With Icon Title -->
    </div>
  </div>
</div>

<!-- Started Graphe -->
<div class="row" ng-show="affichageGraphe">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Critére d'affichage
            </h2>
        </div>
        <div class="body">
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="etatcompte" name="group1" type="radio" id="test1" aria-invalid="false" style=""> <label class="augText" for="test1">Comptes</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="sexe" name="group1" type="radio" id="test2" aria-invalid="false" style=""> <label class="augText" for="test2">Genres</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="etape" name="group1" type="radio" id="test3" aria-invalid="false" style=""> <label class="augText" for="test3">Dossiers</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="etatdemande" name="group1" type="radio" id="test4" aria-invalid="false" style=""> <label class="augText" for="test4">Demandes</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="ufr" name="group1" type="radio" id="test5" aria-invalid="false" style=""> <label class="augText" for="test5">Ufrs</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="departement" name="group1" type="radio" id="test6" aria-invalid="false" style=""> <label class="augText" for="test6">Departements</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="filiere" name="group1" type="radio" id="test7" aria-invalid="false" style=""> <label class="augText" for="test7">Filieres</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="uniten" name="group1" type="radio" id="test8" aria-invalid="false" style=""> <label class="augText" for="test8">Unités d'enseignement</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="programme" name="group1" type="radio" id="test9" aria-invalid="false" style=""> <label class="augText" for="test9">Programmes</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="matiere" name="group1" type="radio" id="test10" aria-invalid="false" style=""> <label class="augText" for="test10">Matiéres</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="niveauetude" name="group1" type="radio" id="test11" aria-invalid="false" style=""> <label class="augText" for="test11">Niveaux études</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="discipline" name="group1" type="radio" id="test12" aria-invalid="false" style=""> <label class="augText" for="test12">Disciplines</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="specialite" name="group1" type="radio" id="test13" aria-invalid="false" style=""> <label class="augText" for="test13">Spécialités</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="paysnaissance" name="group1" type="radio" id="test14" aria-invalid="false" style=""> <label class="augText" for="test14">Pays de naissance</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="residence" name="group1" type="radio" id="test15" aria-invalid="false" style=""> <label class="augText" for="test15">Résidencese</label> </p>
        </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-8">
              <select ng-change="changeTypeGraphe();" ng-model="GrapheAafficher" class="form-control">
                <option>Diagramme en barre</option>
                <option>Diagramme en courbe</option>
                <option>Diagramme circulaire</option>
                <option>Diagramme en pyramide</option>
                <option>Diagramme en surface</option>
              </select>
            </div>
            <div class="col-md-4">
            <button ng-click="changeGrapheTableau();" class="btn btn-primary fa fa-bar-chart">
              Voire Tableau
            </button>
          </div>
          </div>
        </div>
        <div class="body">
          <div class="row">
            <div ng-show=barre id="container">Placeholder for column</div>
            <div ng-show=circulaire id="pieChar">Placeholder for pie</div>
            <div ng-show=pyramid id="pyramidChar">Placeholder for pie</div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- End Graphe -->

<!-- Exportable Table -->
<div class="row">
  <div ng-show="!affichageGraphe" class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-9">
            <h2 class="fa fa-table">
            STATISTIQUE SUR LES DEMANDES D'EMPLOI
          </h2>
          </div>
          <div class="col-md-3">
            <button ng-click="changeGrapheTableau();" class="btn btn-primary fa fa-bar-chart">
              Voire Graphe
            </button>
          </div>
        </div>
      </div>
      <div class="body" style="overflow: scroll;">
        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
          <thead>
          <tr>
            <th ng-show="critere.nom">Nom</th>
            <th ng-show="critere.prenom">Prenom</th>
            <th ng-show="critere.adresse">Adresse</th>
            <th ng-show="critere.genre">Genre</th>
            <th ng-show="critere.indicatif">Indicatif</th>
            <th ng-show="critere.telephone">Téléphone</th>
            <th ng-show="critere.telephonesecondaire">Téléphone secondaire</th>
            <th ng-show="critere.email">Email</th>
            <th ng-show="critere.emailsecondaire">Email secondaire</th>
            <th ng-show="critere.datedenaissance">Date de naissance</th>
            <th ng-show="critere.lieudenaissance">Lieu de naissance</th>
            <th ng-show="critere.compte">Etat Compte</th>
            <th ng-show="critere.demande">Etat demande</th>
            <th ng-show="critere.dossier">Etat dossier</th>
            <th ng-show="critere.niveau">Niveau Etude</th>
            <th ng-show="critere.discipline">Discipline</th>
            <th ng-show="critere.specialite">Specialité</th>
            <th ng-show="critere.etape">Etape</th>
            <th ng-show="critere.appellation">Appellation</th>
            <th ng-show="critere.type">Type</th>
            <th ng-show="critere.identifiantphoto">Identifiant photo</th>
            <th ng-show="critere.nationalite">Nationalité</th>
            <th ng-show="critere.ufr">Ufr</th>
            <th ng-show="critere.departement">Departement</th>
            <th ng-show="critere.filiere">Filiere</th>
            <th ng-show="critere.uniten">Unité d'enseignement</th>
            <th ng-show="critere.programme">Programme</th>
            <th ng-show="critere.matiere">Matiere</th>
            <th ng-show="critere.paysdenassance">Pays de naissance</th>
            <th ng-show="critere.residence">Residence</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th ng-show="critere.nom">Nom</th>
            <th ng-show="critere.prenom">Prenom</th>
            <th ng-show="critere.adresse">Adresse</th>
            <th ng-show="critere.genre">Genre</th>
            <th ng-show="critere.indicatif">Indicatif</th>
            <th ng-show="critere.telephone">Téléphone</th>
            <th ng-show="critere.telephonesecondaire">Téléphone secondaire</th>
            <th ng-show="critere.email">Email</th>
            <th ng-show="critere.emailsecondaire">Email secondaire</th>
            <th ng-show="critere.datedenaissance">Date de naissance</th>
            <th ng-show="critere.lieudenaissance">Lieu de naissance</th>
            <th ng-show="critere.compte">Etat Compte</th>
            <th ng-show="critere.demande">Etat demande</th>
            <th ng-show="critere.dossier">Etat dossier</th>
            <th ng-show="critere.niveau">Niveau Etude</th>
            <th ng-show="critere.discipline">Discipline</th>
            <th ng-show="critere.specialite">Specialité</th>
            <th ng-show="critere.etape">Etape</th>
            <th ng-show="critere.appellation">Appellation</th>
            <th ng-show="critere.type">Type</th>
            <th ng-show="critere.identifiantphoto">Identifiant photo</th>
            <th ng-show="critere.nationalite">Nationalité</th>
            <th ng-show="critere.ufr">Ufr</th>
            <th ng-show="critere.departement">Departement</th>
            <th ng-show="critere.filiere">Filiere</th>
            <th ng-show="critere.uniten">Unité d'enseignement</th>
            <th ng-show="critere.programme">Programme</th>
            <th ng-show="critere.matiere">Matiere</th>
            <th ng-show="critere.paysdenassance">Pays de naissance</th>
            <th ng-show="critere.residence">Residence</th>
          </tr>
          </tfoot>
          <tbody>
          <tr ng-repeat="item in emplois">
            <td ng-show="critere.nom">{{item.compteemploi.nom}}</td>
            <td ng-show="critere.prenom">{{item.compteemploi.prenom}}</td>
            <td ng-show="critere.adresse">{{item.compteemploi.adresse}}</td>
            <td ng-show="critere.genre">{{item.compteemploi.sexe}}</td>
            <td ng-show="critere.indicatif">{{item.compteemploi.indicatif}}</td>
            <td ng-show="critere.telephone">{{item.compteemploi.telephone}}</td>
            <td ng-show="critere.telephonesecondaire">{{item.compteemploi.telephonesecondaire}}</td>
            <td ng-show="critere.email">{{item.compteemploi.email}}</td>
            <td ng-show="critere.emailsecondaire">{{item.compteemploi.emailsecondaire}}</td>
            <td ng-show="critere.datedenaissance">{{item.compteemploi.datedenaissance}}</td>
            <td ng-show="critere.lieudenaissance">{{item.compteemploi.lieudenaissance}}</td>
            <td ng-show="critere.compte">{{item.compteemploi.etatcompte}}</td>
            <td ng-show="critere.demande">{{item.etatdemande}}</td>
            <td ng-show="critere.dossier">{{item.compteemploi.etape}}</td>
            <td ng-show="critere.niveau">{{item.compteemploi.niveauetude}}</td>
            <td ng-show="critere.discipline">{{item.compteemploi.discipline}}</td>
            <td ng-show="critere.specialite">{{item.compteemploi.specialite}}</td>
            <td ng-show="critere.appellation">{{item.compteemploi.appellation}}</td>
            <td ng-show="critere.type">{{item.compteemploi.type}}</td>
            <td ng-show="critere.identifiantphoto">pas encore rempli</td>
            <td ng-show="critere.nationalite">{{item.compteemploi.natinalite}}</td>
            <td ng-show="critere.ufr">{{item.poste.nom}}</td>
            <td ng-show="critere.departement">pas encore remplis</td>
            <td ng-show="critere.filiere">pas encore remplis</td>
            <td ng-show="critere.uniten">pas encore remplis</td>
            <td ng-show="critere.programme">pas encore remplis</td>
            <td ng-show="critere.matiere">pas encore remplis</td>
            <td ng-show="critere.paysdenassance">pas encore remplis</td>
            <td ng-show="critere.residence">{{item.residence}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
<!-- #END# Exportable Table -->


<!-- Jquery DataTable Plugin Js -->
<script src="../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>


<script src="../js/pages/tables/jquery-datatable.js"></script>


