<div class="block-header">
    <h2>MAIN > Personnel</h2>
</div>
<div class="panel panel-primary">
  <div class="panel-heading" role="tab" id="headingTwo_1">
    <h4 class="panel-title">
      <strong class="fa fa-mouse-pointer collapsed" role="button">
        Cliquez ici pour séléctionner les critéres de séléction et d'affichage
      </strong>
      <i ng-show="!fermer" ng-click="collapsed();" class="fa fa-plus pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#collapseTwo_1" aria-expanded="false"
         aria-controls="collapseTwo_1"></i>
      <i ng-show="fermer" ng-click="collapsed();" class="fa fa-minus pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#collapseTwo_1" aria-expanded="false"
         aria-controls="collapseTwo_1"></i>
    </h4>
  </div>
  <div id="collapseTwo_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
    <div class="panel-body">
      <!-- Tabs With Icon Title -->
      <div class="box-body ">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href data-target="#home_with_icon_title" data-toggle="tab">
                      <i class="material-icons">mouse</i> Critére de séléction
                    </a>
                  </li>
                  <li role="presentation">
                    <a href data-target="#profile_with_icon_title" data-toggle="tab">
                      <i class="material-icons">visibility</i> critére d'affichage
                    </a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane animated fade in active" id="home_with_icon_title">
                  <!-- Premiere ligne -->
                    <div class="row">
                      <br>
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_1">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c1" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Genres
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c1" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                               <div class="switch"><label><input type="checkbox" ng-model="stat.genre" checked><span class="lever"></span>Tout les genres</label></div>
                            </div>
                            <div class="row" ng-show="!stat.genre" ng-repeat="genre in  listeGenre">
                               <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>{{genre}}</label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_2">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c2" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Résultat
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c2" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                              <div class="switch"><label><input ng-model="stat.resultat" type="checkbox" checked><span class="lever"></span>TOUT les resultats</label></div>
                            </div>
                            <div class="row" ng-show="!stat.resultat" ng-repeat="result in listResultat">
                               <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>{{result}}</label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_3">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c3" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Nationalité
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c3" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="switch"><label><input type="checkbox" ng-model="stat.nationalite" checked><span class="lever"></span>TOUT les nationalités</label></div>
                                </div>
                                <div class="row" ng-show="!stat.nationalite" ng-repeat="nationalite in listeNationalite">
                                  <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>{{ nationalite }}</label></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Deuxieme ligne -->
                    <div class="row">
                      <div class="panel  borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_4">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c4" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Statut
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c4" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                              <div class="switch"><label><input ng-model="stat.statut" type="checkbox" checked><span class="lever"></span>TOUT les statuts</label></div>
                            </div>
                            <div class="row" ng-show="!stat.statut" ng-repeat="statut in listeStatut">
                               <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>{{ statut }}</label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_5">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c5" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Niveau Année
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c5" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row">
                              <div class="switch"><label><input type="checkbox" ng-model="stat.niveau" checked><span class="lever"></span>Tous les niveaux</label></div>
                            </div>
                            <div class="row" ng-show="!stat.niveau" ng-repeat="niveau in niveauAnnee">
                               <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>{{ niveau }}</label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel borderBottom col-md-4">
                        <div class="panel-heading" role="tab" id="col_6">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c6" aria-expanded="false"
                               aria-controls="collapseTwo_1">
                              Mention
                            </a>
                            <i class="fa fa-hand-o-left pull-right" data-toggle="collapse" data-parent="#accordion_1" href data-target="#c6" aria-expanded="false"
                               aria-controls="collapseTwo_1"></i>
                          </h4>
                        </div>
                        <div id="c6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                          <div class="panel-body">
                            <div class="row" ng-show="stat.mention">
                               <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>Tous les mentions</label></div>
                            </div>
                            <div class="row" ng-show="stat.mention" ng-repeat="mention in listeMention">
                              <div class="switch"><label><input type="checkbox" checked><span class="lever"></span>{{mention}}</label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade animated" id="profile_with_icon_title">

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.nom" type="checkbox" checked><span class="lever"></span>Nom</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.prenom" type="checkbox" checked><span class="lever"></span>Prenom</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.adresse" type="checkbox" checked><span class="lever"></span>Adresse</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.profile" type="checkbox" checked><span class="lever"></span>Profile</label></div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.genre" type="checkbox" checked><span class="lever"></span>Genre</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.telephone" type="checkbox" checked><span class="lever"></span>Téléphone</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.email" type="checkbox" checked><span class="lever"></span>Email</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.matricule" type="checkbox" checked><span class="lever"></span>Matricule</label></div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.datedenaissance" type="checkbox" checked><span class="lever"></span>Date de naissance</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.lieudenaissance" type="checkbox" checked><span class="lever"></span>Lieu de naissance</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.compte" type="checkbox" checked><span class="lever"></span>Etat compte</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.niveauannee" type="checkbox" checked><span class="lever"></span>Niveau Etude</label></div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.datedebut" type="checkbox" checked><span class="lever"></span>Date Debut</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.statut" type="checkbox" checked><span class="lever"></span>Statut</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.nomutilisateur" type="checkbox" checked><span class="lever"></span>Nom Utilisateur</label></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="switch"><label><input ng-model="critere.appellation" type="checkbox" checked><span class="lever"></span>Appellation</label></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Tabs With Icon Title -->
    </div>
  </div>
</div>
<!-- Started Graphe -->
<div class="row" ng-show="affichageGraphe">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Critére d'affichage
            </h2>
        </div>
        <div class="body">
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="option" name="group1" type="radio" id="test2" aria-invalid="false" style=""> <label class="augText" for="test2">Option</label> </p>
          <p> <input class="with-gap ng-valid ng-not-empty ng-dirty ng-touched" ng-model="choix.libelle" value="formation" name="group1" type="radio" id="test3" aria-invalid="false" style=""> <label class="augText" for="test3">Formation</label> </p>
        </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-8">
              <select ng-change="changeTypeGraphe();" ng-model="GrapheAafficher" class="form-control">
                <option>Diagramme en barre</option>
                <option>Diagramme en courbe</option>
                <option>Diagramme circulaire</option>
                <option>Diagramme en pyramide</option>
                <option>Diagramme en surface</option>
              </select>
            </div>
            <div class="col-md-4">
            <button ng-click="changeGrapheTableau();" class="btn btn-primary fa fa-bar-chart">
              Voire Tableau
            </button>
          </div>
          </div>
        </div>
        <div class="body">
          <div class="row">
            <div ng-show=barre id="container">Placeholder for column</div>
            <div ng-show=circulaire id="pieChar">Placeholder for pie</div>
            <div ng-show=pyramid id="pyramidChar">Placeholder for pyramid</div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- End Graphe -->
<!-- Exportable Table -->
<div class="row">
  <div ng-show="!affichageGraphe" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-9">
              <h2 class="fa fa-table">
              STATISTIQUE SUR LES PERSONNELS
            </h2>
            </div>
            <div class="col-md-3">
              <button ng-click="changeGrapheTableau();" class="btn btn-primary fa fa-bar-chart">
                Voire Graphe
              </button>
            </div>
          </div>
        </div>
        <div class="body">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
            <tr>
              <th ng-show="critere.nom">Nom</th>
              <th ng-show="critere.prenom">Prenom</th>
              <th ng-show="critere.adresse">Adresse</th>
              <th ng-show="critere.profile">Profile</th>
              <th ng-show="critere.genre">Genre</th>
              <th ng-show="critere.telephone">Téléphone</th>
              <th ng-show="critere.email">Email</th>
              <th ng-show="critere.matricule">Matricule</th>
              <th ng-show="critere.datedenaissance">Date de naissance</th>
              <th ng-show="critere.lieudenaissance">Lieu de naissance</th>
              <th ng-show="critere.compte">Etat Compte</th>
              <th ng-show="critere.niveauannee">Niveau Etude</th>
              <th ng-show="critere.datedebut">Date de Debut</th>
              <th ng-show="critere.statut">Statut</th>
              <th ng-show="critere.nomutilisateur">Nom Utilisateur</th>
              <th ng-show="critere.appellation">Appellation</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th ng-show="critere.nom">Nom</th>
              <th ng-show="critere.prenom">Prenom</th>
              <th ng-show="critere.adresse">Adresse</th>
              <th ng-show="critere.profile">Profile</th>
              <th ng-show="critere.genre">Genre</th>
              <th ng-show="critere.telephone">Téléphone</th>
              <th ng-show="critere.email">Email</th>
              <th ng-show="critere.matricule">Matricule</th>
              <th ng-show="critere.datedenaissance">Date de naissance</th>
              <th ng-show="critere.lieudenaissance">Lieu de naissance</th>
              <th ng-show="critere.compte">Etat Compte</th>
              <th ng-show="critere.niveauannee">Niveau Etude</th>
              <th ng-show="critere.datedebut">Date de Debut</th>
              <th ng-show="critere.statut">Statut</th>
              <th ng-show="critere.nomutilisateur">Nom Utilisateur</th>
              <th ng-show="critere.appellation">Appellation</th>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="item in alldataEtudiant">
              <td ng-show="critere.nom">{{item.etudiant.personne.nom}}</td>
              <td ng-show="critere.prenom">{{item.etudiant.personne.prenoms}}</td>
              <td ng-show="critere.adresse">{{item.etudiant.personne.adresse}}</td>
              <td ng-show="critere.profile">{{item.etudiant.personne.profil}}</td>
              <td ng-show="critere.genre">{{item.etudiant.personne.sexe}}</td>
              <td ng-show="critere.telephone">{{item.etudiant.personne.telephone}}</td>
              <td ng-show="critere.email">{{item.etudiant.personne.email}}</td>
              <td ng-show="critere.matricule">{{item.etudiant.personne.matricule}}</td>
              <td ng-show="critere.datedenaissance">{{item.etudiant.personne.datenaissance}}</td>
              <td ng-show="critere.lieudenaissance">{{item.etudiant.personne.lieunaissance}}</td>
              <td ng-show="critere.compte">{{item.etudiant.personne.etatcompte}}</td>>
              <td ng-show="critere.niveauannee">{{item.etudiant.niveauannee}}</td>
              <td ng-show="critere.datedebut">{{item.etudiant.datedebut}}</td>
              <td ng-show="critere.statut">{{item.etudiant.statut}}</td>
              <td ng-show="critere.nomutilisateur">{{item.etudiant.personne.nomutilisateur}}</td>
              <td ng-show="critere.appellation">{{item.etudiant.personne.appellation}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# Exportable Table -->
<!-- Jquery DataTable Plugin Js -->
<script src="../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>


<script src="../js/pages/tables/jquery-datatable.js"></script>


